<h1>{{ title }}</h1>

<table border="1">
  <tr>
    <th>Nome da Tarefa</th>
    <th>Ações</th>
  </tr>

  <tr *ngFor="let todo of todos; let i = index;">
    <td [ngClass]="!todo.done ? 'done' : 'notDone'">{{ todo.todo }}</td>
    <td>
      <button *ngIf="!todo.done" (click)="concluirTarefa(i)">Concluir</button>
      <button *ngIf="todo.done" (click)="concluirTarefa(i)">Refazer</button> |
      <button (click)="removerTarefa(i)">Remover</button>
    </td>
  </tr>

</table>

<h4>Total de tarefas: {{ todos.length }}</h4>